// This is an example of global styles

@forward 'colors.scss';
@forward 'font.scss';
@forward 'element.scss';
@forward 'shiki.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  border-width: 0;
}

section {
  margin-bottom: 1.5rem;
}

p {
  margin-bottom: 0.5rem;
}

a,
a > span {
  text-decoration: none;
  color: var(--rainbow-light);
}

a:hover,
a:hover > span {
  text-decoration: underline;
}

// Inlined code
*:not(pre) > code {
  background-color: var(--el-bg-color);
  padding: 2px 4px;
  margin: 0 2px;
  border-radius: 4px;
}

pre,
code,
kbd,
samp {
  font-family: var(--font-family-mono);
}
